# Telegram Bot Framework Example Configuration

# Required
BOT_TOKEN=1076729431:AAE95s3Q_QKkEtVxnProc5BRxdqxKo_S7v8
OWNER_USER_ID=438429121

# Optional
ADMIN_USER_IDS=438429121
LOG_CHAT_ID=438429121
DEBUG=true
INSTANCE_NAME=EchoBot 